/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h2, #mealsParagraph {
  font-family: 'Roboto', sans-serif;
  margin: 15px;
  text-align: center;
}

.inputsDiv {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 22%;
}

.buttonsDiv {
  display: flex;
  justify-content: center;
}

#addMealsButton {
  display: flex;
  justify-content: center;
}

.deleteIconButton {
  margin-left: 20px;
}