p {
  font-family: 'Roboto', sans-serif;
  margin: 15px;
  text-align: left;
}

h3 {
  font-family: 'Roboto', sans-serif;
  margin: 15px;
  text-align: center;
}

.paragraphDiv {
  display: inline-flex;
}

#eventNameDiv {
  display: inline-flex;
}